input {
    outline: none;
    box-shadow: none;
    border: 1px solid var(--color-text);
    padding: 5px;
    width: 100%;
}

.btn-send{
    width: 80%;
    background-color: var(--color-primary);
    color: white;
    border: 0;
    padding: 5px;
    text-transform: uppercase;
    cursor: pointer;
}

.btn-wrapper{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.alert-success {
    width: 100%;
    padding: 10px;
    background-color: rgb(50, 197, 50);
    color: white;
}

.aux-btns-form {
    width: 50%;
    display: flex;
    justify-content: center;
    margin: 10px;
}

.aux-btns-form a{
    padding-right: 10px;
    text-decoration: none;
}


.cards{
    display: flex;
    justify-content: space-around;
}

.card{
    width: 250px;
    height: 500px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: var(--color-primary);
}
